<div class="outer-container" style="background-color: #ca5513;">
    <div class="container py-5">
        <section class="welcome-section text-white">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1>Welcome to Rx Reflection!</h1>
                    <p>Hello, <span class="fw-bold">{{firstName}}</span>, please become familiar with your favorite new
                        medication management system.</span></p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="/pillBottle.jpg" alt="Pill Bottle" style="max-width: 100px;" id="pill-bottle">
                </div>

            </div>
        </section>

        <section class="info-section text-white mt-4">
            <h2>How to Use the App:</h2>
            <p>This app helps you manage your medications and track your health progress.</p>
            <p>To get started, you can:</p>
            <ul>
                <li>Add your medications to the "Medications" section.</li>
                <li>Update your profile information in the "Profile" section.</li>
                <li>Explore various features available in the app.</li>
            </ul>
        </section>
    </div>
</div>
<script src="/js/homepage.js"></script>