    <main id="page-container" class="main-container">
        <!-- Login Page -->
        <section class="login-page">
            <form class="login-form">
                <label for="user-name" class="label">Username</label>
                <input type="text" id="user-name" name="username" class="input user-name" placeholder="Enter your username" required>
                <span class="error-message" aria-live="polite"></span>

                <label for="password" class="label">Password</label>
                <input type="password" id="password" name="password" class="input password" placeholder="Enter your password" required>
                <span class="error-message" aria-live="polite"></span>

                <button type="submit" class="button submit-button">Submit</button>
            </form>
            <div class="button-container d-flex justify-content-between mt-3">
                <button id="createAccountButton" class="button create-account" href="new-patient.html" aria-label="Create Account">Create Account</button>
                <button id="forgotPasswordButton" class="button forgot-password" aria-label="Forgot Password">Forgot Password</button>
              </div>
        </section>
    </main>
    <script src="./assets/js/login.js"></script>
